@import '//at.alicdn.com/t/font_3007472_6ee82cjboap.css';

[class^=qd-icon] {
    font-family: "qd-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}