@import './font.scss';

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    color: $colorFontBase;
    background-color: $colorBgLight;
    font-size: 14px;
}

.page {
    &-aside {
        background-color: $colorBgWhite;
        padding: $gutter;
        position: fixed;
        top: $headerHeight+$gutter - 2px;
        bottom: 0;
        overflow-y: auto;
        border-radius: $radius;

        &--left {
            left: 0;
            width: $leftAsideWidth;
        }

        // &--right {
        //     right: 0;
        //     width: $rightAsideWidth;
        // }
    }

    &-main {
        margin: #{$headerHeight+$gutter - 2px} 0 0 $leftAsideWidth+$gutter;

        .demo-page__main {
            background-color: $colorBgWhite;
            padding: $padding;
            border-radius: $radius;
            margin-right: #{$rightAsideWidth+$gutter};
        }

        .demo-page__aside {
            background-color: $colorBgWhite;
            width: $rightAsideWidth;
            position: fixed;
            border-radius: $radius 0;
            right: 0;
            top: $headerHeight+$gutter - 2px;
            padding: 20px;
        }
    }
}