$headerHeight:60px;
$leftAsideWidth:260px;
$rightAsideWidth:180px;
$gutter:10px;
$padding:20px;
$radius:2px;

body {
    --color-font-base: #303d49;
    --color-font-light: #526374;
    
    --color-border-light: #e5e6eb;
    --color-bg-light: rgb(238, 242, 246);
    --color-bg-white: #fff;
    --color-primary: #0088ff;
    --color-primary-light: #4dacff;
}

body[theme=dark] {
    --color-font-base: #fff;
    --color-border-light: #333335;
    --color-bg-light: #232324;
    --color-bg-white: #17171a;
}

$colorFontBase:var(--color-font-base);
$colorFontLight:var(--color-font-light);

$colorPrimary: var(--color-primary);
$colorPrimaryLight: var(--color-primary-light);
$colorBorderLight:var(--color-border-light);
$colorBgLight:var(--color-bg-light);
$colorBgWhite:var(--color-bg-white);